.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* 전체 뷰포트 높이 */
  background-color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  position: relative;
}

.mini-game {
  background-color: #b3b3b3;
  padding: 13px;
  border-radius: 10px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10; /* 게임 메뉴보다 낮게 설정하여 게임 메뉴가 위로 올라오게 합니다. */
  position: relative;
}

.mini-game-nav {
  /* padding-top: 3px; */
  padding-bottom: 8px;
  position: relative;
  z-index: 10;
}

.game-menu {
  background-color: #b3b3b3;
  border: 1px solid #343434f8;
  /* border-radius: 5px; */
  box-shadow: 0 2px 5px rgba(91, 91, 91, 0.2);
  position: absolute; 
  /* top: 13.7%;  */
  /* left: 6%; */
  margin-top: 190px;
  margin-left: -10px;
  width: 115px;
  z-index: 1000;
  display: none;
  /* padding: -20px !important; */
}
.game-menu.active {
  display: block; /* 활성화 상태에서 보여주기 */
}

.game-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.game-menu ul li {
  padding: 8px 12px;
  cursor: pointer;
  text-align: left;
}

.game-menu ul li:hover {
  background-color: #ddd;
}




.mini-game-header a {
  cursor: pointer;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #BBB;
  border: 3px solid #FFFFFF;
  border-bottom-color: #7B7B7B;
  border-right-color: #7B7B7B;
}

.game-board {
  display: flex;
  flex-direction: column;
  background-color: #BBB;
  border: 3px solid #7B7B7B;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
}

.board-row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: #BDBDBD;
  border: 1px solid #7B7B7B;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell.opened {
  background-color: #b9b9b9;
  border-color: #7B7B7B;
}

.mine-count,
.timer {
  width: 39px; /* 디지털 숫자 3개를 표현하기에 충분한 너비 */
  color: red;
  background-color: black;
  font-family: 'Digital-7 Mono', monospace;
  text-align: center;
  font-size: 1.5em;
  border: 1px solid #7B7B7B;
  padding: 2px;
}

.reset-button {
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  width: 35px;
  height: 35px;
}

/* 스마일리 버튼에 대한 스타일링 */
.reset-button:hover {
  filter: brightness(1.1);
}

/* 깃발과 지뢰 이미지에 대한 스타일링 */
.flagged img,
.cell img {
  width: 100%;
  height: auto;
}

.custom-modal {
  margin-top: 100px;
}
